<% @teams.each do |team| %>

    <div class="team">
      <div class="team_name"><%= team.name%> </div>
      <li class="cd-item1" style="background:url(<%=team.owner.avatar.big.url %> );background-size:cover;background-position: center;">
        <img src=<%=team.owner.avatar.big.url %>   name='<%= team.owner.id %>' alt="Item Preview" style="display:none;">
        <div class="games">Owner</div>
        <a href="#0" class="cd-trigger">
          <%= team.owner.first_name%>
        </a>
      <li class="cd-item1" style="background:url(<%=team.co_owner.avatar.big.url%> );background-size:cover;background-position: center;">
        <img src=<%=team.co_owner.avatar.big.url %>   name='<%= team.co_owner.id %>' alt="Item Preview" style="display:none;">
        <div class="games">Co Owner</div>
        <a href="#0" class="cd-trigger">
          <%= team.co_owner.first_name%>
        </a>
      <li class="cd-item1" style="background:url(<%=team.cricket_captain.avatar.big.url%> );background-size:cover;background-position: center;">
        <img src=<%=team.cricket_captain.avatar.big.url %>   name='<%= team.cricket_captain.id %>' alt="Item Preview" style="display:none;">
        <div class="games">Cricket Captain</div>
        <a href="#0" class="cd-trigger">
          <%= team.cricket_captain.first_name%>
        </a>
      <li class="cd-item1" style="background:url(<%=team.football_captain.avatar.big.url %> );background-size:cover;background-position: center;">
        <img src=<%=team.football_captain.avatar.big.url %>   name='<%= team.football_captain.id %>' alt="Item Preview" style="display:none;">
        <div class="games">Football Captain</div>
        <a href="#0" class="cd-trigger">
          <%= team.football_captain.first_name%>
        </a>
    </div>
    </li> <!-- cd-item -->
<% end %>