<table>
  <tr>
    <th>First Name</th>
    <th>Last Name / Business Name</th>
    <th>Icon Player</th>
    <th>Base Price</th>
    <th>Cricket</th>
    <th>Football</th>
    <th>Badminton</th>
  </tr>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= 'Yes' if user.is_star %></td>
        <td><%= user.base_price %></td>
        <td><%= 'Yes' if  user.is_cricket %></td>
        <td><%= 'Yes' if user.is_football %></td>
        <td><%= 'Yes' if user.is_badminton %></td>
      </tr>
  <% end %>
</table>
